/* ************************************* */
/* Styles from index.template            */
/* ************************************* */

/* this is the main container surrounding everything, use this to set forum width, font-size  etc. */
#mainframe
{
	font-size: 85%;
	width: 95%;
	margin: auto;
}
/* the forum name or logo */
h1
{
	padding: 0.6em 0 0.6em 0;
	margin: 0;
	font-family: Verdana, helvetica, sans-serif;
	font-size: 135%;
	color: #fff;
}
/* the greeting section. Note that h1 and h2 are reseved for logo/greeting!  */
#greeting_section
{
	padding: 0.7em 0.4em 0.7em 0.4em;
	clear: both;
}
h2
{
	margin: 0;
	padding: 0 0.3em 0 0.3em;
	font-size: 130%;
	font-weight: normal;
}
/* the user name is slightly highlighted */
h2 em
{
	font-weight: bold;
	font-style: normal;
}
/* user section with all relevant links */
#user_section
{
	padding: 1px;
	margin: 1px 0 0 0;
	font-size: 90%;
}
#user_section ul, #user_section form
{
	padding: 0.5em 0.7em 0.5em 0.7em;
}
/* the greeting */
#greeting_section em
{
	font-style: normal;
	font-weight: bold;
}
#greeting_section li#name
{
	padding-left: 0.5em;
}
/* the avatar, located to the left */
#user_section #myavatar
{
	padding: 0.7em;
	border-right: solid 1px #ADADAD;
	margin: 0 0.5em 0 0;
	float: left;
}
/* the news and search areas */
#news_section
{
	clear: both;
	font-size: 0.8em;
	padding: 0.5em 1em 0.5em 1em;
}
#random_news h3
{
	margin-right: 1em;
	font-size: 0.85em;
	display: inline;
}
#random_news p
{
	margin: 0;
	padding: 0;
	display: inline;
}

/* The main menu. */
#main_menu
{
	padding-left: 1em;
}
#main_menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	background: url(../images/maintab_first.gif) no-repeat bottom left;
	padding-left: 10px;
}
#main_menu li
{
	margin: 0;
	padding: 0;
	display: inline;
}
#main_menu li a
{
	float: left;
	display: block;
	color: white;
	font-size: 0.8em;
	font-family: tahoma, sans-serif;
	text-transform: uppercase;
}
#main_menu li a:hover
{
	color: #e0e0ff;
	text-decoration: none;
}
#main_menu li a span
{
	background: url(../images/maintab_back.gif) repeat-x bottom left;
	display: block;
	padding: 0.1em 0.5em 0.5em 0.5em;
}
#main_menu li.last a span
{
	background: url(../images/maintab_last.gif) no-repeat bottom right;
	padding: 0.1em 1em 0.5em 0.5em;
}
#main_menu li.active a span em
{
	padding: 0.1em 0.5em 0.5em 0.5em;
	display: block;
	font-style: normal;
	background: url(../images/maintab_active_back.gif) repeat-x bottom right;
}
#main_menu li.active a span
{
	background: url(../images/maintab_active_first.gif) no-repeat bottom left;
	padding: 0 0 0 8px;
}
#main_menu li.last.active
{
	float: left;
	background: url(../images/maintab_last.gif) no-repeat bottom right;
	padding: 0 8px 0 0;
}
#main_menu li.active a
{
	background: url(../images/maintab_active_last.gif) no-repeat bottom right;
	padding-right: 8px;
}

/* the linktree */
ul#linktree
{
	clear: both;
	list-style: none;
	margin: 1.5em 0.5em 0.5em 0.5em;
	padding: 0;
}
ul#linktree li
{
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 0.8em;
}
ul#linktree li a
{
	color: black;
}
ul#linktree li a:hover
{
	color: #CC3333;
}
ul#linktree li span
{
	font-weight: bold;
}

/* the main content area */
#bodyarea
{
}
/* the footer area */
#footerarea
{
	padding: 1em 0 2em 0;
	text-align: center;
}
#footerarea ul
{
	margin: 0 auto 0 auto;
}
#footerarea ul li
{
	text-align: center;
	display: inline;
	border-right: solid 1px #888;
	margin: 0;
	padding: 0 4px 0 2px;
}
/* Note: It is against the license to remove, alter or otherwise hide the copyright output from SMF so please do not alter the two sections below. */
#footerarea ul li.copywrite
{
	display: block;
	line-height: 0;
	font-size: small;
	padding: 1em;
}
#footerarea ul li.copywrite, #footerarea ul li.last
{
	border-right: none;
}
/* page created in.. */
#footerarea p
{
	clear: both;
	text-align: left;
	padding-left: 0.5em;
}
p#show_loadtime
{
	display: block;
	text-align: center;
}
/* the upshrink buttons */
#upshrink, #advsearch
{
	margin: 0 1ex;
}
