h1
{
	font-size: 18px;
}
h2
{
	font-size: 18px;
	border-bottom: solid 1px;
	padding-bottom: 0.5em;
	margin: 2em 0 0.5em 0;
}
h3, h4, h5, h6
{
	font-size: 16px;
	margin: 2em 0 0.5em 0;
	font-weight: normal;
	padding: 0 0 0.5em 0.5em;
}
p
{
	margin: 0 0 1.5em 0;
}
.board, .board:link
{
	text-decoration: underline;
}
.board:visited, .board:hover
{
	text-decoration: underline;
}
div.footer
{
	text-align: center;
	padding: 3pt;
}
#menu
{
	line-height: 1;
}
#menu p
{
	margin: 0 0 1em 0;
	line-height: 2;
}
table#reference1, table#reference2
{
	border: 1px solid;
}
table#reference1 td, table#reference2 td
{
	vertical-align: top;
	border: 1px solid;
	font-size: x-small;
 }
table#reference1 th, table#reference2 th
{
	font-size: x-small;
}
ol
{
	font-weight: bold;
	list-style-type: disc;
	margin-bottom: 1em;
	margin-top: 1em;
	line-height: 1.5em;
}
ol.la
{
	font-weight: normal;
	list-style-type: circle;
	margin: 0.5em 0 1em 0;
	padding-left: 1.5em;
}
/* we need some air between the lines :) */
#helpmain p
{
	line-height: 1.5em;
}
/* put back the bullets please */
#helpmain ul
{
	margin: 0 0 1em 2em;
	padding-left: 1em;
}
#helpmain ul li
{
	line-height: 1.5em;
	list-style-type: disc;
	padding-left: 0.2em;
}

/* ...but leave the tab strips alone! */
.buttonlist_bottom ul, .buttonlist ul
{
	margin: 0 !important;
	padding: 0 0 0 1em !important;
}

.buttonlist_bottom ul li, .buttonlist ul li
{
	margin: 0 0.2em 0 0 !important;
	padding: 0 !important; 
}